body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

/*header stuff here*/
header {
    background-color: #fdfaf6;
    padding: 1rem 10px;
}
header span {
    color: #433428;
    ;
    font-size: 2.4rem;
    font-weight: 700;
}

/*navigation stuff here*/
nav{
    background-color: #314626;
    min-height: 48px;
    display: flex;
    align-items: center;
}

  
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fdfaf6;
    font-weight: 700;
}
nav li.active a {
    background-color:#688359;
    color: #fdfaf6;
}

nav li a:hover{
    color: #433428;
}

/*main stuff here*/
main {
    padding: 1rem 10px;
    background-color: #fdfaf6;
}

main h1 {
    color: #433428;
    margin-bottom: 2rem;
}

main h2{
    color:#688359;
    margin-bottom: 1rem;
}

main h3{
    color: #623620;
    margin-bottom: .1rem;
}

main p {
    margin-bottom: 2rem;
    color: #433428;
}

main strong{
    color:#433428
}

main ol{
    color: #433428;
    list-style-type:upper-roman;
    line-height: 150%;
}

main dl {
    color: #433428;
}

main dl dt{
    font-weight: 500;
    margin-bottom: .6rem;
}

main dl dd{
    margin-bottom: 1.5rem;
    margin-left:1rem;
    font-weight: 300;
}
 
main ul li{
    color:#433428;
    list-style-type:circle;
}

main a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #314626;
    font-weight: 600;
    margin-right: .2rem;
}

main a:hover{
    color: #688359;
}

main address {
    font-style: normal;
    background-color:#fdfaf6;
    padding: .5rem;
    border-radius: 7px;
    border: 5px solid #688359;
    width: 240px;
    color: #433428;
    line-height: 1.5rem;
}


/* footer stuff here */
footer {
    background-color: #314626;
    text-align: center;
    padding: 1rem;
}
footer p {
    margin: 0;
    font-size: .8rem;
    color: #fdfaf6;
    letter-spacing: 3px;   
}